<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/new.css" />
<%- include('../partials/nav') %>
<main>
  <h1>Edit Flight</h1>
  <form 
    id="new-form" 
    action="/flights/<%= flight._id %>?_method=PUT" 
    method="POST"
  >
    <!-- Airline -->
    <label for="airline-input">Airline: </label>
    <select name="airline" id="airline-select">
      <% if(flight.airline === "American") { %>
      <option value="American" selected>American</option>
      <option value="Southwest">Southwest</option>
      <option value="United">United</option>
      <% } else if(flight.airline === "Southwest") {%>
        <option value="American">American</option>
        <option value="Southwest" selected>Southwest</option>
        <option value="United">United</option>
      <% } else if(flight.airline === "United") {%>
        <option value="American">American</option>
        <option value="Southwest">Southwest</option>
        <option value="United" selected>United</option>
      <% } %>
    </select>
    <!-- Airpirt -->
    <label for="airport-input">Airport: </label>
    <select name="airport" id="airport-select">
      <% if(flight.airport === "AUS") { %>
        <option value="AUS" selected>AUS</option>          
        <option value="DFW">DFW</option>
        <option value="DEN">DEN</option>
        <option value="LAX">LAX</option>
        <option value="SAN">SAN </option>    
      <% } else if(flight.airport === "DFW") {%>
        <option value="AUS">AUS</option>        
        <option value="DFW" selected>DFW</option>
        <option value="DEN">DEN</option>
        <option value="LAX">LAX</option>
        <option value="SAN">SAN </option> 
      <% } else if(flight.airport === "DEN") {%>
        <option value="AUS">AUS</option>        
        <option value="DFW">DFW</option>
        <option value="DEN" selected>DEN</option>
        <option value="LAX">LAX</option>
        <option value="SAN">SAN </option> 
      <% } else if(flight.airport === "LAX") {%> 
        <option value="AUS">AUS</option>        
        <option value="DFW">DFW</option>
        <option value="DEN">DEN</option>
        <option value="LAX" selected>LAX</option>
        <option value="SAN">SAN </option>        
      <% } else if(flight.airport === "SAN") {%>  
        <option value="AUS">AUS</option>        
        <option value="DFW">DFW</option>
        <option value="DEN">DEN</option>
        <option value="LAX">LAX</option>
        <option value="SAN" selected>SAN </option>       
      <% } %>
    </select>
    <!-- Flight number -->
    <label for="flightNo-input">Flight No:</label>
    <input 
      type="text" 
      name="flightNo" 
      value = "<%= flight.flightNo %>"
      id="flightNo-input">
    <!-- Departs -->
    <label for="departs-input">Departs:</label>
    
      <!-- this is the most nonsense line of code I've written in a while 
      why does the tostring function format in month/day/year but value formats in year/month/day
      and all the functions do not format with the 0 in front of the day/month if it's less than 10-->
    <input 
      type="datetime-local" 
      name="departs"
      value = "<%=flight.departs.toISOString().slice(0,16)%>"
      id="departs-input"
    >
    <button type="submit">Edit Flight</button>
  </form>
</main>

<%- include('../partials/footer')  %>