<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/show.css">
<%- include('../partials/nav') %>

<main>
  <h1>Flight Details</h1>
  <section>
    <div>Airline: </div>
    <div><%= flight.airline %></div>
    <div>Airport: </div>
    <div><%= flight.airport %></div>
    <div>Flight No.: </div>
    <div><%= flight.flightNo %></div>
    <div>Departure : </div>
    <div><%= flight.departs.toLocaleString() %></div>
    </section>

    <!-- tickets -->
    <% if(flight.tickets.length){ %>
      <h2>Ticket Information</h2>
      <section>
        <% flight.tickets.forEach(ticket => { %>
          <div>Seat: <%= ticket.seat %></div>
          <div>Price: <%= ticket.price %></div>
          <% }); %>
      </section>
      <% } %>
    <!-- add a ticket -->
    <h2>Add Ticket</h2>
    <section>
      <form id="add-ticket" action="/flights/<%= flight._id %>/tickets" method="POST">
        <label for="seat-input">Seat:</label>
      <input  type="text" name="seat" id="seat-input">
      <label for="price-input">Price:</label>
      <input  type="text" name="price" id="price-input">
      <button type="submit">Add Ticket</button>
      </form> 
    </section>
    <a href="/flights" 
      id= "edit-flight"> 
      <button>Return to Flights</button>
    </a>
    <a 
    href="/flights/<%= flight._id %>/edit"
      id= "edit-flight"> 
      <button>Edit Flights</button>
    </a>
  

</main>
<%- include('../partials/footer') %>